/* =====================================scrolling bar smooth */
html{
    scroll-behavior: smooth;
}

body{
    font: 15px/1.5 Arial,sans-serif;
    padding:0;
    margin:0;
    background-color:#e4e7eb;
}

/* ===========================================Global */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

/* ===================================Navigation bar */
header li{
    display: inline-block;
}

header a{
    display: block;
    color:#ffffff;
    padding: 20px;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}

header nav{
    overflow: hidden;
    width:100%;
    background: #262626;
    overflow: hidden;
    position: fixed;
    top: 0;
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin: 0;
}

/* ================= hover nav bar */

header .hightlight, header .current a{
    color:#e4cd4c;
    font-weight: bold;
}

header a:hover{
    color:#cccccc;
    font-weight:bold;
}
/*==========================anchors for navigation offset */
a.aboutanchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

a.skillsanchor {
    display: block;
    position: relative;
    top: -40px;
    visibility: hidden;
}

a.projectanchor {
    display: block;
    position: relative;
    top: -210px;
    visibility: hidden;
}

/* =========================About me break off */
#aboutsection{
    padding: 30px;
    margin-top:20px;
    background-color:#26282b;
    color:#ffffff;
    text-align: center;
    text-transform: uppercase;
}

/* ===========================Simon profile pic  */
#about .Simon{
    border-radius: 50%;
    margin-top:20px; 
}

#about{
    text-align: center;
    padding-top:10px;
}
/* =========================Skills break off */
#skillsection{
    padding: 30px;
    margin-top:20px;
    background-color:#26282b;
    color:#ffffff;
    text-align: center;
    text-transform: uppercase;
}

/*========================== boxes (skills) */
#skills{
    margin-top:20px;
}

#skills .box{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
}

#skills .box img{
    width:90px;
}

/* =========================project break off */
#projectsection{
    padding: 30px;
    margin-top:20px;
    background-color:#26282b;
    color:#ffffff;
    text-align: center;
    text-transform: uppercase;
}

/*========================== boxes (project) */
#project{
    margin-top:20px;
}

#project .box{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
}


#project .box img{
    width:300px;
    height:250px
}

/* =========================Work experience break off */
#experiencesection{
    padding: 30px;
    margin-top:20px;
    background-color:#26282b;
    color:#ffffff;
    text-align: center;
    text-transform: uppercase;
}

/* =========================Work experience  */
#experience{
    text-align :left
}

#experience .container{
    width:60%;
    margin:auto;
    overflow:hidden;
}

#experience .container em{
    font-size: 18px
}

/*=======================footer/ contact details */
footer{
    padding: 20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#26282b;
    text-align: center;
}

.contactinfo{
    display: inline-block;
    padding: 10px;
}


/* ========================Media queries */
@media(max-width: 768px){
    #skills .box,
    #project .box{
        float:none;
        text-align:center;
        width:100%;
    }
    }